# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables / API keys
.env

# VS Code settings
.vscode/

# OCR temporary files
temp/
logs/
Support_info.venv

# Temporary development files
phase1-1.py

# Generated outputs
outputs/
output_excel/
output_json/
output_images/

# Raw input images
input_images/
Images/

# Windows system files
Thumbs.db
Desktop.ini

# Jupyter
.ipynb_checkpoints/

# Misc logs
*.log